/*MENU FATO*/
@font-face {
	font-family: 'Stag';
	src: url('/../fonts/Stag-LightItalic.eot');
	src: url('/../fonts/Stag-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('/../fonts/Stag-LightItalic.svg') format('svg'),
	url('/../fonts/Stag-LightItalic.woff') format('woff'),
	url('/../fonts/Stag-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
.menu-header {
	top: -59px ;
	left: 0 ;
	z-index: 9999 ;
	width: 100% ;
	position:absolute ;
	transition: all 0.5s ease ;
	font: italic 300 32px/34px 'Stag', Arial, Verdana, Helvetica, sans-serif;
}

a#menu-close {
	display: none;
}

.smart {
	display: none;
}

#hotsite .bg-color {
	background-color: #f1f1f1;
	height: 60px !important;
	text-align: center;
}

#hotsite .menu {
	margin: 0 auto;
	padding: 10px 0 10px 0px;

}

#hotsite .menu-items {
	padding-left: 0px !important;
}

#hotsite li{
	display: inline;
	margin-right: 15px;
	font-size: 25px !important;
}

#hotsite .mg-fix {
	margin-right: 0px;
}

#hotsite a:link {
	text-decoration: none;
}

#politica a{
	color:#ee2c00;
}

#economia a{
	color:#56bf2c;
}

#brasilia a{
	color:#4ed3ea;
}

#esporte a{
	color:#2980b9;
}

#tv-fato a{
	color:#212121;
}

#hotsite .ico-menu {
	width: 50px;
	height: 50px;
	margin: 15px 20px 0px 0px;
	padding: 8px 0px 8px 9px;
	background: #e0a50f;
	float: right;
	border-radius: 25px;
}

	#hotsite .ico-menu a{
		color: #222;
	}

#hotsite img {
	width: 39px;
	padding: 16px 4px 0px 16px;
	vertical-align: inherit;
}

/*----------------------------------------------CSS PESSOAL*/

body{
	height: 100%;
}

section{
	height: 100%;
}

/*FB*/
.fb-share-button{
	text-align: center;
	margin: 10px 0px;
}

.bxslider li{
	padding-bottom: 80px;
	padding-top: 10px;
	overflow: auto;
}

.bx-wrapper{
	margin: 0px;
}

.bx-wrapper .bx-viewport{
		box-shadow: none;
	-webkit-box-shadow: none;
	background: none !important;
	border: none !important;
}

.bx-viewport{
	height: 100% !important;
	position: static !important;
}

#bx-pager{
	text-align: center;
	position: absolute;
	margin: auto;
	left: 0; bottom: 10; right: 0;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px 0px;
}

#bx-pager a{
	padding: 0px 30px;
}

.nav-social{
	position: absolute;
	z-index: 999;
	right: 10%;
	text-transform: uppercase;
	color: white;
	margin-top: 65px;
}

.nav-social li{
	display: inline;
}

.nav-social img{
	width: 30px;
}

#nome-social{
	margin-right: 10px;
}

.titulo{
	margin-top: 15px !important;
}

.titulo-invertido{
	color:#363636 !important;
}

/*SLIDER*/
#home{
	height: 100%;
	width: 100%;
}

#home .img-home{
	top: 40%;
}

/*FICHA*/
#ficha{
	height: 100%;
	width: 100%;
}

#ficha .img-ficha2{
	width: 50%;
	left: 52%;
	top: 25%;
	max-width: 461px;
	position: absolute;
	z-index: 99;
}

/*PLANTAS*/
#plantas{
	color: white;
}

/*DIFERENCAS*/
.button-pink {
	position: relative;
	vertical-align: top;
	width: 100%;
	height: 60px;
	padding: 0;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #ed145b;
	border: 0;
	border-bottom: 2px solid #cd0d4b;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #cd0d4b;
	box-shadow: inset 0 -2px #cd0d4b;
}
.button-pink:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#video-diferenca{
	margin-bottom: 20px;
}

.diferencas-btn{
	position: absolute;
	left: 0; right: 0; top: 0;
	padding-top: 120px;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
}

#diferenca-chikungunya{
	text-align: center;
}

.thinglink{
	max-width: 920px;
	z-index: 999;
	margin: auto;
	position: relative;
	top: -75px;
}

.btn-fechar{
	color:white;
	font-size:20px;
	cursor: pointer;
	float: right;
	right: 70px;
	margin-top: 80px;
}

.btn-fechar p{
	font-size: 15px;
	font-weight: 300;
	float: right;
	margin-top:  3px;
	margin-left: 5px;
	text-transform: uppercase;
}

/*MITOS*/
#mitos{
	height: 100%;
	background: rgba(247,247,248,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(247,247,248,1) 0%, rgba(183,183,183,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(247,247,248,1)), color-stop(100%, rgba(183,183,183,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(247,247,248,1) 0%, rgba(183,183,183,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(247,247,248,1) 0%, rgba(183,183,183,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(247,247,248,1) 0%, rgba(183,183,183,1) 100%);
	background: radial-gradient(ellipse at center, rgba(247,247,248,1) 0%, rgba(183,183,183,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f8', endColorstr='#b7b7b7', GradientType=1 );
}

#mitos .titulo{
	margin-top: 20% !important;
}

.button-verdade {
	position: relative;
	vertical-align: top;
	width: 100%;
	height: 60px;
	padding: 0;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #26a744;
	border: 0;
	border-bottom: 2px solid #17722d;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #17722d;
	box-shadow: inset 0 -2px #17722d;
}
.button-verdade:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.button-mito {
	position: relative;
	vertical-align: top;
	width: 100%;
	height: 60px;
	padding: 0;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #e8211a;
	border: 0;
	border-bottom: 2px solid #9a1004;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #9a1004;
	box-shadow: inset 0 -2px #9a1004;
}
.button-mito:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#pergunta-02,#pergunta-03,#pergunta-04,#pergunta-05,#pergunta-06{
	display: none;
}

.resposta{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0; right: 0; top: 0;
	padding-top: 15%;
	color: #fff;
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

.resposta h1{
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}

.resposta span{
	font-size: 80px;
}

.resposta p{
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 30px;
}

.resposta .link{
	font-size: 15px;
	font-weight: 300;
	clear: both;
	cursor: pointer;
}

.resposta.verdade{
	background-color: rgba(0, 166, 81, 0.95);
}

.resposta.mito{
	background-color: rgba(237, 28, 36, 0.95);
}

/*DUVIDAS*/
#duvidas{
	height: 100%;
	background: rgba(167,99,168,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(167,99,168,1) 0%, rgba(100,5,97,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(167,99,168,1)), color-stop(100%, rgba(100,5,97,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(167,99,168,1) 0%, rgba(100,5,97,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(167,99,168,1) 0%, rgba(100,5,97,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(167,99,168,1) 0%, rgba(100,5,97,1) 100%);
	background: radial-gradient(ellipse at center, rgba(167,99,168,1) 0%, rgba(100,5,97,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a763a8', endColorstr='#640561', GradientType=1 );
	overflow:auto;
}

/*CAMPANHAS*/
#campanhas{
	height: 100%;
	background: rgba(139,197,63,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(139,197,63,1) 0%, rgba(1,115,54,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(139,197,63,1)), color-stop(100%, rgba(1,115,54,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(139,197,63,1) 0%, rgba(1,115,54,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(139,197,63,1) 0%, rgba(1,115,54,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(139,197,63,1) 0%, rgba(1,115,54,1) 100%);
	background: radial-gradient(ellipse at center, rgba(139,197,63,1) 0%, rgba(1,115,54,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bc53f', endColorstr='#017336', GradientType=1 );
	overflow: auto;
}

/*INFO*/
#info{
	height: 100%;
	background: rgba(167,99,168,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(167,99,168,1) 0%, rgba(100,5,97,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(167,99,168,1)), color-stop(100%, rgba(100,5,97,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(167,99,168,1) 0%, rgba(100,5,97,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(167,99,168,1) 0%, rgba(100,5,97,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(167,99,168,1) 0%, rgba(100,5,97,1) 100%);
	background: radial-gradient(ellipse at center, rgba(167,99,168,1) 0%, rgba(100,5,97,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a763a8', endColorstr='#640561', GradientType=1 );
	overflow:auto;
	color: white;
}

#texto-info{
	border-bottom: dotted 1px #fff;
	margin-bottom: 10px;
}

#img-info img{
	width: 100%;
}

/*SMART*/
.smart {
	z-index:999;
	text-align: center;
	margin: auto;
	transition: all 0.5s ease ;
	height: 90px;
	width: 720px;
	background: white;
	left: 0; right: 0; top:20px;

}

/*TABLET*/
@media (max-width: 1024px) {
	.img-perfil {
		margin-left: -10%;
	}
}
